{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  {% if user.ubicacion %}
    <table style="width:100%">
      <tr>
        <td>Mi direccion: {{ user.ubicacion.direccion }}</td>
      <tr>
    </table>
  {% endif %}
  <table style="width:50%">
    <tr>
  {% if user.auto %}
    <td>Mi auto: {{ user.auto.modelo }}, color: {{user.auto.color}} </td>
    {% if not user.conductor %}
      <td align="left"><a href="{% url 'conductor' user.id %}">Manejo Hoy</a></td>
    {% else %}
      <td align="left"><a href="{% url 'conductor' user.id %}">No manejo Hoy</a></td>
    {% endif %}
  {% endif %}
    </tr>
  <table>
  <br>
  {% if user.ubicacion %}
    {% if not user.tengo_ida and not user.conductor %}
      <h4>Conductores disponibles:</h4>
      <table style="width:100%">
        <tr>
          <th>Nombre</th>
          <th>Asientos Disponibles</th>
          <td align="right"><b>Postular</b></td> 
        </tr>
      
        {% for car in user.conductores_posibles %}
        <tr>
          <td>{{ car.username }}</td>
          <td>{{ car.auto.tengo_capacidad }}</td>
          <td align="right"><a href="{% url 'newllevame' car.id %}">Llevame</a></td>
        </tr>
        {% endfor %}
      </table>
    {% elif not user.conductor and user.id_conductor != 'None' %}
      <h4>Me lleva: </h4>
      <table style="width:100%">
        <tr>
          <th>Nombre</th>
          <th>Asientos Disponibles</th>
          <td align="right"><b>Bajarse del auto</b></th> 
        </tr>
        <tr>
          <td>{{ user.me_lleva.username }}</td> 
          <td>{{ user.me_lleva.auto.tengo_capacidad }}</td> 
          <td align="right"><a href="{% url 'newllevame' user.me_lleva.id %}">no me Lleves</a></td>
        </tr>
      </table>
    {% else %}
      <h4> Usuarios que llevo: </h4>
      {% if user.auto.pasajeros.user.all %}
      <table style="width:100%">
        <tr>
          <th>Nombre</th>
          <th>email</th>
          <td align="right"><b>Bajar</b><td>
        </tr>
        {% for llevo in user.auto.pasajeros.user.all %}
        <tr>
          <td>{{ llevo.username }}</td>
          <td>{{ llevo.email }}</td>
          <td align="right"><a href="{% url 'nollevar' llevo.id %}">Bajar de mi auto</a>
        </tr>
        {% endfor %}
      </table>
      {% else %}
        <p>Todavia nadie se suma a tu auto </p>
      {% endif %}
    {% endif %}
  {% else %}
    <p><a href="{% url 'newubicacion' user.id %}">Agregar Ubicacion</a></p>
  {% endif %}
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a> |
  <a href="{% url 'signup' %}">signup</a>
{% endif %}
{% endblock %}